<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Student</title>
</head>
<body>

<form action="/createStudent" method="post">

<label>Enter Student's roll_no</label>
<input type="number" name="rollno" required="required"/>
<br><br>

<label>Enter Student's name</label>
<input type="text" name="student_name" required="required"/>
<br> <br>

<label>Enter Student's phone-number</label>
<input type="number" name="student_phonenumber" required="required"/>
<br><br>

<label>Enter Student's email</label>
<input type="email" name="email" required="required">
<br><br>

<label>Enter Student's address</label>
<input type="text" name="address" required="required">
<br> <br>

<input type="submit" value="Submit">

</form>
</body>
</html>